<div class="my-3">
  <img src="content/images/logo.png" alt="logo" style="width: 138px;height: 50px;">
</div>
<nz-table [nzPageSize]="12" [nzLoading]="isLoading"  #basicTable [nzData]="listOfData" class="custom-table">
  <thead>
  <tr>
    <th>Amount</th>
    <th>Type</th>
    <th>Status</th>
    <th style="max-width: 30%">Address</th>
  </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track i; let i = $index) {
      <tr>
        <td>${{ data?.amount }}</td>
        <td>
          {{data?.type}}
        </td>
        <td>
          <nz-tag [nzColor]="data?.status === 0 ? 'gray' : data?.status === 1 ? 'green' : 'red'" [nzBordered]="false">
            {{ data?.status === 0 ? 'Chờ xác nhận' : data?.status === 1 ? 'Xác nhận' : 'Từ chối' }}
          </nz-tag>
        </td>
        <td nzBreakWord>
          <div style="max-width: 80%;
    line-height: 20px;
    text-align: left;">
            {{ data?.wallet_infor}}
          </div>
        </td>
      </tr>
    } @empty {
      <tr>
        <td colspan=4>No deposits found</td>
      </tr>
    }

  </tbody>
</nz-table>

