<div class="home-page">
  <section class="banner mt-3">
    <img src="content/images/logo.png" alt="logo" style="width: 138px;height: 50px;">
    <img src="content/videos/born-online.gif" alt="intro" style="width: 420px;height: 230px;">
    <!--<video class="w-100" [controls]="false" [loop]="true" [autoplay]="true" [muted]="true">
      <source src="content/videos/v1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>-->

    <div class="row no-gutters" style="padding: 0 30px">
      <div class="col-6 mb-3">
        <div style="border: 1px solid black; border-radius: 40px">
          <img class="image-category" src="content/images/home-1.png" alt="category">
        </div>
      </div>
      <div class="col-6 mb-3">
        <img class="image-category" src="content/images/home-2.png" alt="category">
      </div>
      <div class="col-6">
        <img class="image-category" src="content/images/home-3.png" alt="category">
      </div>
      <div class="col-6">
        <img class="image-category" src="content/images/home-4.png" alt="category">
      </div>
    </div>
  </section>
<!--
  <section class="commodity">
    <div class="title my-3" style="font-size: 21px">- Commodity -</div>
    <div class="commodity-list">
      <swiper-container class="swiper" speed="500" loop="true" autoplay-delay="2500"
                        autoplay-disable-on-interaction="false">
        @for (commodity of commodityList; track i; let i = $index) {
          <swiper-slide>
            <a href="#"><img style="width: 100%;height: 280px" [src]="commodity"></a>
          </swiper-slide>
        }
      </swiper-container>
    </div>
  </section>
-->
  <section class="membership-level container">
    <h6 class="subtitle"> - Membership Level - </h6>
    @for (member of levelList; track member.id; let i = $index) {
      <div class="membership-card text-start shadow">
<!--        <div class="title">{{ member.title }}</div>-->
        <div class="content mt-4">Required Investment &nbsp;${{ member?.minimum_amount }}</div>
        <div class="content">VIP {{ member?.vip_level }} Commission {{ member?.income * 100 | number:'1.0-1' }} %</div>
        <div class="content">{{ member?.max_orders_per_day }} Orders</div>
        <div class="wrap-action d-flex mt-3">
          <div class="action"><a style="color: #fff" href="https://lyst686.com/admin/chat" target="_blank">Top up</a></div> <!--link support-->
          <div class="action ghost"><a [routerLink]="account.user.level === (i+1) ? '/matching' : null">@if (account.user.level === (i+1)) {Opened} @else {
            You have not upgraded
          } </a></div>

        </div>
        <div class="position-absolute" style="top: 0;right: 0;width: 55px;height: 55px;background: linear-gradient(90deg, hsla(235, 100%, 78%, 1) 0%, hsla(222, 77%, 33%, 1) 100%);border-radius: 0 0 0 100%;opacity: .7">
<!--          <img src="content/images/logo.png" alt="logo" style="width: 202px;height: 80px;">-->
        </div>
        <div class="position-absolute" style="bottom: 5px; right: 10px;">
          <img src="content/images/logo.png" alt="logo" style="width: 202px;height: 75px;">
        </div>
      </div>
    }
  </section>
  <section class="ann">
    <div class="title">- Announcement -</div>
    <div class="ann-card">
      <div class="" style="height: 150px; overflow: hidden">
        <swiper-container direction="vertical"
                          slides-per-view="4"
                          height="150"
                          speed="500" loop="true" autoplay-delay="2500" autoplay-disable-on-interaction="false"
        >
          @for (ann of annList; track i; let i = $index) {
            <swiper-slide [attr.id]="i">
              <div class="ann-item d-flex justify-content-between align-items-center" style="height: 30px">
                <div class="content">{{ ann?.cardNumber }}</div>
                <div class="content">Withdraw money successfully</div>
                <div class="content">${{ ann?.money }}</div>
              </div>
            </swiper-slide>
          }
        </swiper-container>
      </div>
    </div>
  </section>
</div>
